body {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

button {
    margin: 0 0 0 22px;
}


div {
    float: left;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 1px solid black;
}
.first {
    clear: left;
}
.black {
    background: black;
}
.white {
    background: white;
}